<!DOCTYPE html>
<html>
  <head>
    <title> jQuery full calendar with RubyOnRails | VinSol </title>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body class="subpage">
    <div class="wrapper">
      <div class="subPageContent">
        <% flash.each do |key, value| %>
          <div id = "flash_<%= key %>">
            <%= value %>
          </div>
        <% end %>
        <span>
          <div id = 'loading'>
            Loading...
          </div>
        </span>
        <div class="aplicationContent">
          <div class="appRightContent">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
